﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Admin/Administrator/Administrator.master" AutoEventWireup="false" CodeFile="school_settings_edit.aspx.vb" Inherits="Admin_Administrator_school_settings_edit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
</asp:Content>

