﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Admin/StudentReg/Student.master" AutoEventWireup="false" CodeFile="Grade_computation_edit.aspx.vb" Inherits="Admin_StudentReg_Grade_computation_edit" %>
<%@ Register Src="~/Controls/messagebox.ascx" TagName="msgbox" TagPrefix="uc1" %>
<%@ Register Assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
      <h4 id="lblgradecomputeheader" runat="server" class="title"></h4>
  <asp:UpdatePanel ID="UpdatePanel1" runat="server">
           <ContentTemplate>
                 <uc1:msgbox ID="Msgbox1" runat="server"></uc1:msgbox>
           </ContentTemplate>
         
       </asp:UpdatePanel>

    <div data-role="panel" class="panel">
    
   
        <div style="z-index:999;" class="content">
              <h5 class="hint-text">Student Details</h5>
            <hr />
            <div>
                <table width="100%">
                <tr height="50px">
                     <td>
                         <span class="text-secondary text-bold">StudentID/Name: </span>
                    </td>
                    <td>
                          <span>   <dx:ASPxComboBox ID="combo1" CssClass="text-secondary" Width="170px" ValueType="System.String" IncrementalFilteringMode="Contains" OnSelectedIndexChanged="combo1_SelectedIndexChanged" AutoPostBack="true" AutoResizeWithContainer="True" AnimationType="Slide" Border-BorderColor="DarkBlue" OnItemsRequestedByFilterCondition="combo1_ItemsRequestedByFilterCondition" CallbackPageSize="10" EnableCallbackMode="True" OnItemRequestedByValue="combo1_ItemRequestedByValue" runat="server" EnableTheming="True" Theme="SoftOrange"></dx:ASPxComboBox>  </span>
                    </td>
                    <td>
                            <span class=" text-secondary text-bold">Academic session:</span>
                     </td>
                     <td>
                        
                                          <span> 
                                              <asp:DropDownList CssClass="text-secondary" ID="ddlacademicsession" Width="170px" runat="server">
                                                   <asp:ListItem Enabled="true" Value="TBA">--select--</asp:ListItem>
                                   <asp:ListItem>2017/2018</asp:ListItem>
                              <asp:ListItem>2016/2017</asp:ListItem>
                              <asp:ListItem>2015/2016</asp:ListItem>
                              <asp:ListItem>2014/2015</asp:ListItem>
                               <asp:ListItem>2013/2014</asp:ListItem>
                                              </asp:DropDownList>
                                          </span>

                     </td>
                </tr>
                <tr>
                   
                    <td>
                         <span class="text-secondary text-bold">Firstname</span>
                    </td>
                    <td>
                           <span>  <asp:TextBox CssClass="text-secondary" ID="txtfirstname" ReadOnly="true" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>
                    </td>
                      <td>
                        
                       <span class="text-secondary text-bold">Lastname</span>
                    </td>
                    <td>
                         <span>
                            <asp:TextBox ID="txtlastname" CssClass="text-secondary" ReadOnly="true" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox>
                     </span>
                    </td>
                </tr>
                <tr height="50px">
                  
                    <td>
                          <span class="text-secondary text-bold">Othername</span>
                    </td>
                    <td>
                          <span>   <asp:TextBox CssClass="text-secondary" ID="txtmiddlename" ReadOnly="true" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>
                    </td>
                      <td>
                        <span class=" text-secondary text-bold">Term:</span>
                    </td>
                     <td>
                  <span>   <asp:TextBox ID="txtterm" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>

                     </td>
                   
                     
                </tr>
            
            </table>
            </div>
            
        </div>
        <div class="content">
            <h5 class="hint-text">Continous Assesments(Test)</h5>
            <hr />
            <div>
                <table width="100%">
                    <tr height="50px">
                        <td>
                             <span class="text-secondary text-bold">CA1:</span>
                           
                        </td>
                         <td>
                  <span>  <asp:TextBox ID="txtca1" CssClass="text-secondary text-bold" BorderColor="Orange" BorderWidth="1" runat="server">0</asp:TextBox></span>

                         </td>
                        <td>
                    <span class="text-secondary text-bold">CA2:</span>
                </td>
                          <td>
 <span>  <asp:TextBox ID="txtca2" BorderColor="Orange" CssClass="text-secondary text-bold" BorderWidth="1" runat="server">0</asp:TextBox>&nbsp; <asp:TextBox ID="txtCourseReg" BorderColor="Orange" BorderWidth="1" runat="server" Width="66px">0</asp:TextBox>&nbsp;<asp:TextBox ID="txtAggCourse" BorderColor="Orange" BorderWidth="1" runat="server" Width="66px">0</asp:TextBox>&nbsp;<asp:TextBox ID="txttotalCa" BorderColor="Orange" BorderWidth="1" runat="server" Visible="False" Width="66px">40</asp:TextBox></span>

                          </td>
               

                    </tr>

                    <tr>
                         <td>
                    <span class="text-secondary text-bold">CA3:</span>
                </td>
                          <td>
                    <span>  <asp:TextBox ID="txtca3" CssClass="text-secondary text-bold" BorderColor="Orange" BorderWidth="1" runat="server" Enabled="False">0</asp:TextBox></span>


                          </td>

                          <td>
                    <span class="text-secondary text-bold">CA4:</span>
                </td>
                          <td>
                         <span>  <asp:TextBox ID="txtca4" CssClass="text-secondary text-bold" BorderColor="Orange" BorderWidth="1" runat="server" Enabled="False">0</asp:TextBox>  &nbsp; <asp:TextBox ID="txtSubjectScore" BorderColor="Orange" BorderWidth="1" runat="server" Width="66px" Enabled="False">0</asp:TextBox>&nbsp;<asp:TextBox ID="txttotalexam" BorderColor="Orange" BorderWidth="1" runat="server" Visible="False" Width="66px">60</asp:TextBox></span>

                          </td>

                        
                        
                    </tr>

                 
                  
                </table>

                

               
            </div>
        </div>

        <div class="content">
            <h5 class="hint-text">Exam</h5>
            <hr />
            <div>
                <table width="100%">
                    <tr height="50px">
                        <td>
                             <p class="text-secondary text-bold">Select Subject(s):</p>
                           
                        </td>
                         <td>
                  <span> <asp:DropDownList ID="ddlsubjects" CssClass="text-secondary" Width="170px" runat="server">

                         </asp:DropDownList></span>

                         </td>
                        <td>
                    <p class="text-secondary text-bold">Score:</p>
                </td>
                          <td>
 <span>  <asp:TextBox ID="txtscore" BorderColor="Orange" CssClass="text-secondary text-bold" BorderWidth="1" runat="server">0</asp:TextBox></span>

                          </td>
               

                    </tr>

                    <tr>
                          <td>
                    <p class="text-secondary text-bold">Teacher comments:</p>
                </td>
                          <td>
                    <span>  <asp:TextBox ID="txtcomments" CssClass="text-secondary" BorderColor="Orange" BorderWidth="1" runat="server"></asp:TextBox></span>


                          </td>

                          <td></td>
                        <td>
                               &nbsp;<asp:Button ID="cmdAdd" runat="server" CssClass="small-button shadow text-small text-bold fg-white bg-darkBrown" Height="20px" Text="Add" Width="80px" />
                         </td>

                       

                      
                    </tr>

                 
                  
                </table>

                <div>
                                  <asp:DataGrid ID="DataGrid1" runat="server" CssClass="Grid2 text-small table striped hovered" CellPadding="0" Width="100%">
                                 <HeaderStyle CssClass="bg-darkBlue fg-white text-small" Height="15px"></HeaderStyle>
                 <FooterStyle CssClass="bg-grayLighter" />
                   
                                <Columns>
                                    <asp:ButtonColumn CommandName="Delete" Text="Delete"></asp:ButtonColumn>
                                </Columns>
                            </asp:DataGrid>
                </div>

               
            </div>
        </div>
         <div class="align-center">
                    <span>  &nbsp;<asp:Button ID="cmdsave" runat="server" CssClass="button bg-green fg-white small-button" Text="Save" /><span class=" mif-file-archive"></span></span>

                                 <span>  <button runat="server" id="btncancel" onserverclick="btncancel_ServerClick" class="button bg-red fg-white small-button"><span class=" mif-cancel"></span> Cancel</button>
                    </span>

                </div>
</div>
    <asp:SqlDataSource ID="SqlDataSource1" ConnectionString="<%$ ConnectionStrings:Enrollment_Net10ConnectionString %>" runat="server"></asp:SqlDataSource>

</asp:Content>

