﻿<%@ Master Language="VB" CodeFile="Student.master.vb" Inherits="Admin_StudentReg_Student" %>
<%@ Register Src="~/Controls/Navbar.ascx" TagName="navbar" TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>Manage Students</title>
    
     <link href="/css/metro.css" rel="stylesheet" />
    <link href="/css/metro-icons.css" rel="stylesheet" />
    <link href="/css/metro-responsive.css" rel="stylesheet" />
    <link href="/css/metro-rtl.css" rel="Stylesheet" />
    <link href="/css/docs.css" rel="stylesheet" />
    <link href="/css/grid.css" rel="stylesheet" />
    <link href="/css/metro-schemes.css" rel="Stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/Controls/popups.js" type="text/javascript"></script>
    <script src="/js/Gridviewcheck.js" type="text/javascript"></script>
    <script src="/js/docs.js" type="text/javascript"></script>
    <script src="/js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="/js/metro.js" type="text/javascript"></script>
    <script src="/js/ga.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css" />
<%--    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript"></script>--%>
     <meta charset="UTF-8" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body style=" background: url(/images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <uc1:navbar ID="navbar" runat="server" />
        <div style="width:1100px;" class="container clear-float page-content bg-white">
          <div class="grid responsive">
              <div class="row cells5">
                  <div class=" cell">
                      
                      <ul class="v-menu context">
    <li class="menu-title">Manage Students</li>
    <li><a href="Students_edit.aspx"><span class=" mif-plus fg-darkBlue icon"></span> Add new student</a></li>
<li><a href="Students.aspx"><span class=" mif-user-check fg-darkBlue icon"></span> student(s) profile</a></li>
    <li class="divider"></li>
    <li class="menu-title">Manage Guardians</li>
    <li><a href="Students.aspx"><span class="mif-user fg-darkBrown icon"></span> Parent profile</a></li>
   <li class="divider"></li>
    <li class="menu-title">Manage Student Courses/Subjects</li>
 <li><a href="Course_reg.aspx"><span class="mif-user fg-darkBlue icon"></span> course registration</a></li>

    <li class="divider"></li>
    <li class="menu-title">Manage Student Grades</li>
 <li><a href="Grade_computation.aspx"><span class="mif-user fg-darkBlue icon"></span> Grade computations</a></li>
  
</ul>
                  </div>
                  <br />
                  <div class="cell colspan4">
                       <asp:ContentPlaceHolder ID="body" runat="server">
 
    </asp:ContentPlaceHolder>
                  </div>
              </div>
          </div>
       
            </div>
         
         <footer style="width:1100px;" class="container">
            <div class="bottom-menu-wrapper bg-darkBlue">
                <ul class="horizontal-menu compact fg-white">
                    <li><a>&copy; 2014 E-School</a></li>
                   
                </ul>
            </div>
        </footer>
      
        
    </form>
    <script>
        $(function () {
            $("#panel").panel();
        });
</script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
</script>
   
    
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
</script>
   


</body>
</html>
