﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Admin/Accounts/Account.master" AutoEventWireup="false" CodeFile="Payables.aspx.vb" Inherits="Admin_Accounts_Payables" %>
<%@ Register Assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Controls/messagebox.ascx" TagName="msgbox" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
      <asp:UpdatePanel ID="UpdatePanel1" runat="server">
           <ContentTemplate>
                 <uc1:msgbox ID="Msgbox1" runat="server"></uc1:msgbox>
           </ContentTemplate>
         
       </asp:UpdatePanel>
    <h4 class="title">Account Payables</h4>
 <div class="accordion" data-role="accordion" data-close-any="true">
      <div class="accordion">
    <div class="frame">
        <div class="heading">Search filter</div>
        <div class="content"><table>
         <tbody>
             <tr>
                 <td><span class=" text-small">Where</span></td> <td><span><asp:DropDownList BorderColor="Orange" Width="110px" CssClass="text-small" Height="20px" BorderWidth="1" ID="DropDownList1" runat="server">
                     <asp:ListItem Value="IDNo">Student No</asp:ListItem>
                     <asp:ListItem Value="FirstName">Student name</asp:ListItem>
                    
                     
                            </asp:DropDownList></span> </td>
                 <td><span class="text-small">Contains</span></td> <td><asp:TextBox ID="TextBox1" Width="110px" Height="20px" BorderColor="Orange" BorderWidth="1" CssClass="text-small" runat="server"></asp:TextBox></td>
                 <td><span class="text-small">Between</span> </td>
                      <td>

                     
                         <dx:ASPxDateEdit ID="datebetween" runat="server" CssClass="text-small" Height="20px" EnableTheming="True" Theme="SoftOrange" EditFormat="Custom" Width="110px">
                    <TimeSectionProperties>
                        <TimeEditProperties EditFormatString="hh:mm tt" />
                    </TimeSectionProperties>
                </dx:ASPxDateEdit>
                  </td>
                  
                 <td><span class="text-small">And</span>  </td> 
                         <td>
                              <dx:ASPxDateEdit ID="dateand" CssClass="text-small" Height="20px" runat="server" EnableTheming="True" Theme="SoftOrange" EditFormat="Custom" Width="110px">
                    <TimeSectionProperties>
                        <TimeEditProperties EditFormatString="hh:mm tt" />
                    </TimeSectionProperties>
                </dx:ASPxDateEdit>
                         </td>
                        
<td>                                                         <button runat="server" id="btnapply" height="20px" onserverclick="btnapply_Click" class="button bg-green fg-white text-small mini-button"><span class=" mif-search"></span> Search</button>

</td>
             </tr>
             
         </tbody>

     </table></div>
    </div>
          </div>
        </div>
    <div>
        <div class="panel">
           <div class="content bg-white">
               <asp:GridView ID="GridView1" CssClass="Grid2 text-small table striped hovered"  Width="100%" runat="server" AutoGenerateColumns="False">
                   <Columns>
                         <asp:TemplateField>
                             <HeaderTemplate>
                                 <asp:CheckBox ID="chkall" runat="server" onclick="checkAll(this);" />
                             </HeaderTemplate>
                    <ItemTemplate>
                        <asp:CheckBox ID="chkItem" onclick = "Check_Click(this)" runat="server" />
                    </ItemTemplate>
                             </asp:TemplateField>
<%--             <asp:BoundField DataField="TransGUID" Visible="false" HeaderText="Student No." SortExpression="TransGUID" />--%>

                       <asp:HyperLinkField HeaderText="Student No." DataNavigateUrlFields="IDNo,ReceiptNo" DataTextField="IDNo"
                    DataNavigateUrlFormatString="Receivables_edit.aspx?IDNo={0}&amp;ReceiptNo={1}"/>
                          <asp:BoundField DataField="ReceiptNo" HeaderText="ReceiptNo" SortExpression="ReceiptNo" />

                       <asp:BoundField DataField="FirstName" HeaderText="FirstName" SortExpression="FirstName" />

                        <asp:BoundField DataField="LastName" HeaderText="Surname" SortExpression="LastName" />
                       <asp:BoundField DataField="BusinessType" HeaderText="Bus.Type" SortExpression="BusinessType" />    
             <asp:BoundField DataField="TDate" DataFormatString="{0:dd MMM yyyy}" HeaderText="Trans.Date" SortExpression="TDate" />
              
                    
                       <asp:BoundField DataField="Outstandng" DataFormatString="{0:#,##0}" HeaderText="Balance" SortExpression="Outstandng" />
                        <asp:BoundField DataField="Status" HeaderText="Status" SortExpression="Status" />
                          </Columns>
                   <HeaderStyle CssClass="bg-darkBlue fg-white text-small" Height="15px"></HeaderStyle>
                 <FooterStyle CssClass="bg-grayLighter" />
                   
               </asp:GridView>
               <div class="align-center">
                   <table>
                       <tr>
                      <td>
                      <asp:Button ID="btnnew" Visible="true" Height="29px" OnClick="btnnew_Click" CssClass="button text-small bg-lightGreen fg-white mini-button" runat="server" Text="New Payable" Font-Size="X-Small" Font-Bold="True" />

                      </td>
                           <td>
                     <asp:Button ID="btnprint" Visible="true" Height="29px" OnClick="btnprint_Click" CssClass="button text-small bg-darkGreen fg-white mini-button" runat="server" Text="Print CreditNote" Font-Size="X-Small" Font-Bold="True" />

                           </td>
                           <td>
                    <asp:Button ID="btnapprove" Visible="true" Height="29px" OnClick="btnapprove_Click" CssClass="button text-small bg-red fg-white mini-button" runat="server" Text="Approve" ToolTip="Approve Transaction" Font-Size="X-Small" Font-Bold="True" />

                           </td>
                          <td>
                          <asp:Button ID="btncancel" Visible="true" Height="29px" OnClick="btncancel_Click" CssClass="button text-small bg-red fg-white mini-button" runat="server" Text="Cancel" ToolTip="Cancel" Font-Size="X-Small" Font-Bold="True" />

                           </td>
                           <td>
                               <asp:Button ID="btndelete" Visible="true" Height="29px" OnClick="btndelete_Click" CssClass="button bg-lightRed fg-white mini-button" runat="server" Text="Delete" Font-Size="X-Small" Font-Bold="True" />
                           </td>
                            <td>
                          <asp:Button ID="btnexport" Visible="true" Height="29px" OnClick="btnexport_ServerClick" CssClass="button text-small bg-cyan fg-white mini-button" runat="server" Text="Export" ToolTip="Cancel" Font-Size="X-Small" Font-Bold="True" />
                               
                           </td>
                       </tr>
                       
                   </table>
               </div>
           </div>
       </div>
    </div>
</asp:Content>

