﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="test.aspx.vb" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" OnClick="Button1_Click" runat="server" Text="Button" />
    </div>
    </form>
</body>
</html>
