﻿<%@ Page Title="Report" Language="VB" MasterPageFile="~/Admin/Report/Reportmaster.master" AutoEventWireup="false" CodeFile="Viewer.aspx.vb" Inherits="Admin_Report_Viewer" %>

<%@ Register Assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>

<%--<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>--%>



<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    
   

   <div>
       <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server" Theme="PlasticBlue"></dx:ASPxDocumentViewer>
   </div>
</asp:Content>

