<%@ Control Language="vb" AutoEventWireup="false" CodeFile="Scanner.ascx.vb" Inherits="Scanner" %>



<%--<script type="text/javascript">

function SlamPix(imgId, fileId) {
	var Image1 = document.getElementById(imgId);
	var selFilePath = document.getElementsByName(fileId)[0].value;
	
	if (selFilePath=='') {
	    Image1.src = "/Admin/StudentReg/photos/no-photo.jpg";
	} else {
	    Image1.src = "/Admin/StudentReg/photos/sel-photo.jpg";
	}	
	//alert(document.getElementsByName(fileId)[0].value);
}
</script>--%>

<%--<script type="text/javascript">
    $(document).ready(function () {
        var imgWidth = $('#Image1').width();
        var imgHeight = $('#Image1').height();
        if (imgWidth > 500 || imgHeight > 500) {
            alert('Your image is too big, it must be less than 500x500');
        }
    });

</script>--%>