﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentsID.ascx.vb" Inherits="Controls_StudentsID" %>
<%@ Register Assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
 <span>  <dx:ASPxComboBox ID="combo1" IncrementalFilteringMode="Contains" ValueType="System.String" CssClass="text-secondary" Width="170px" AutoPostBack="true" AutoResizeWithContainer="True" AnimationType="Slide" Border-BorderColor="DarkBlue" OnItemsRequestedByFilterCondition="combo1_ItemsRequestedByFilterCondition" CallbackPageSize="10" EnableCallbackMode="True" OnItemRequestedByValue="combo1_ItemRequestedByValue" runat="server" EnableTheming="True" Theme="SoftOrange">
                           </dx:ASPxComboBox></span>